<form action="/figures" method="POST">
  <label>Figure Name:</label>
  <input type="text" name="figure[name]" id="figure_name"> <br>
  <br>

  <label>Choose a Title:</label> <br>
  <%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input> <br>
  <%end%>
  
  <label>Or Create a New Title:</label>
  <input type="text" name="title[name]" id="new_title"> <br>
  <br>

  <label>Choose a Landmark:</label> <br>
  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input> <br>
  <%end%>

  <label>Or Create a New Landmark:</label>
  <input type="text" name="landmark[name]" id="new_landmark"> <br>
  <br>
  <input type="submit" value="Create New Figure">
</form>